<!DOCTYPE html>
<html>
	<head>
		<title>Draw Digit</title>
		<style>
			#canvas {
				border: 1px solid black;
				background-color: white;
			}
		</style>
	</head>
	<body>
		<h1>Draw Digit</h1>
		<canvas id="canvas" width="280" height="280"></canvas>
		<br />
		<button onclick="clearCanvas()">Clear</button>
		<button onclick="predictDigit()">Predict</button>
		<p id="prediction"></p>
		<p id="probabilities"></p>

		<script>
			var canvas = document.getElementById('canvas')
			var ctx = canvas.getContext('2d', { willReadFrequently: true })
			canvas.willReadFrequently = true

			var painting = false
			var pixelSize = 20

			ctx.fillStyle = 'rgba(0, 0, 0, 1.0)'
			ctx.fillRect(0, 0, canvas.width, canvas.height)
			ctx.fillStyle = 'rgba(255, 255, 255, 1.0)'

			canvas.addEventListener('mousedown', startPosition)
			canvas.addEventListener('mouseup', finishedPosition)
			canvas.addEventListener('mousemove', draw)

			function startPosition(event) {
				painting = true
				draw(event)
			}

			function finishedPosition() {
				painting = false
			}

			function draw(event) {
				if (!painting) return
				var x = Math.floor(event.offsetX / pixelSize) * pixelSize
				var y = Math.floor(event.offsetY / pixelSize) * pixelSize
				var alpha = 1.0
				if (
					x == 0 ||
					x == canvas.width - pixelSize ||
					y == 0 ||
					y == canvas.height - pixelSize
				) {
					alpha = 0.5
				}
				ctx.fillStyle = `rgba(255,255,255, ${alpha})`
				ctx.fillRect(x, y, pixelSize, pixelSize)
			}

			function clearCanvas() {
				ctx.clearRect(0, 0, canvas.width, canvas.height)
				ctx.fillStyle = 'rgba(0, 0, 0, 1.0)'
				ctx.fillRect(0, 0, canvas.width, canvas.height)
			}

			function predictDigit() {
				var formData = new FormData()
				var img = new Image()
				img.src = canvas.toDataURL()
				var file = dataURLtoFile(img.src, 'digit.png')
				formData.append('image', file)
				const data = fetch('/predict_mnist', {
					method: 'POST',
					body: formData,
				})
					.then(response => {
						if (response.ok) {
							return response.json()
						} else {
							throw new Error('Failed to get prediction')
						}
					})
					.then(data => {
						document.getElementById(
							'prediction'
						).textContent = `Prediction: ${data.predicted_label}`
						var probabilities = data.class_probabilities
						var probList = document.createElement('ul')
						for (var className in probabilities) {
							var prob = probabilities[className]
							var probItem = document.createElement('li')
							probItem.textContent = `${className}: ${prob.toFixed(2)}`
							probList.appendChild(probItem)
						}
						document.getElementById('probabilities').innerHTML = ''
						document.getElementById('probabilities').appendChild(probList)

						// Ask for user feedback
						var correctLabel = prompt('Enter the correct label for the digit:')
						correctLable = parseInt(correctLabel)
						if (correctLabel !== null && data.predicted_label != correctLabel) {
							sendFeedback(file, parseInt(correctLabel))
						}
					})
					.catch(error => {
						console.error(error)
					})
			}

			function dataURLtoFile(dataurl, filename) {
				var arr = dataurl.split(','),
					mime = arr[0].match(/:(.*?);/)[1],
					bstr = atob(arr[1]),
					n = bstr.length,
					u8arr = new Uint8Array(n)
				while (n--) {
					u8arr[n] = bstr.charCodeAt(n)
				}
				return new File([u8arr], filename, { type: mime })
			}

			function sendFeedback(imageFile, label) {
				var formData = new FormData()
				formData.append('image', imageFile)
				formData.append('label', label)
				fetch('/feedback_mnist', {
					method: 'POST',
					body: formData,
				})
					.then(response => {
						console.log(response)
						if (response.ok) {
							alert('Feedback received and model updated.')
						} else {
							throw new Error('Failed to send feedback')
						}
					})
					.catch(error => {
						console.error(error)
					})
			}
		</script>
	</body>
</html>
